/.idea/*.xml
/.idea/libraries/*.xml
/*.iml
/service-center/*.iml
/service-center/target/classes/*.yml
/service-center/target/classes/com/ahh/springcloud/*.class
/service-center/target/maven-archiver/*.properties
/service-center/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/service-center/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/service-center/target/*.jar
/service-center/target/*.original
/service-configuration/*.iml
/service-configuration/target/classes/*.yml
/service-configuration/target/classes/com/ahh/springcloud/*.class
/service-configuration/target/maven-archiver/*.properties
/service-configuration/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/service-configuration/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/service-configuration/target/*.jar
/service-configuration/target/*.original
/service-consumer/*.iml
/service-consumer/target/classes/*.yml
/service-consumer/target/classes/com/ahh/springcloud/*.class
/service-consumer/target/classes/com/ahh/springcloud/constant/*.class
/service-consumer/target/classes/com/ahh/springcloud/fallback/*.class
/service-consumer/target/classes/com/ahh/springcloud/service/*.class
/service-consumer/target/classes/com/ahh/springcloud/task/*.class
/service-consumer/target/maven-archiver/*.properties
/service-consumer/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/service-consumer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/service-consumer/target/*.jar
/service-consumer/target/*.original
/service-provider1st/*.iml
/service-provider1st/target/classes/*.yml
/service-provider1st/target/classes/com/ahh/springcloud/*.class
/service-provider1st/target/classes/com/ahh/springcloud/rest/*.class
/service-provider1st/target/classes/com/ahh/springcloud/service/*.class
/service-provider1st/target/maven-archiver/*.properties
/service-provider1st/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/service-provider1st/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/service-provider1st/target/*.jar
/service-provider1st/target/*.original
/service-provider2nd/*.iml
/service-provider2nd/target/classes/*.yml
/service-provider2nd/target/classes/com/ahh/springcloud/*.class
/service-provider2nd/target/classes/com/ahh/springcloud/rest/*.class
/service-provider2nd/target/maven-archiver/*.properties
/service-provider2nd/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/service-provider2nd/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/service-provider2nd/target/*.jar
/service-provider2nd/target/*.original
